.rodape{
    align-items: center;
    padding: 1rem;
    border-top: 2px solid var(--branco);
}
.rodape__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 .5rem 0;
    gap: .5rem;
}

.rodape__logo{
    width: 3.5rem;
    height: 3.5rem;
}

.rodape__titulo{
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}

.rodape__copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.rodape__copyright__texto{
    font-size: .5rem;
    text-align: center;
    width: 50%;
}

.rodape__container__desktop{
    display: none;
}

/*RESPONSIVIDADE*/
/*Layout para tablet*/
@media screen and (min-width: 538px) {
    .rodape__copyright__texto{
        font-size: .7rem;
    }
}
/*Layout para desktop*/
@media screen and (min-width: 1000px) {
    .rodape__container{
        display: none;
    }

    .rodape__copyright{
        display: none;
    }

    .rodape__container__desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 0 5rem 0 5rem;
    }

    .rodape__container__desktop__coluna1__logo{
        width: 10rem;
        height: 10rem;
    }

    .rodape__container__desktop__coluna2{
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .rodape__container__desktop__coluna2__itens__texto{
        font-weight: 700;
    }


    .rodape__container__desktop__coluna2__itens__redes__sociais{
        margin: 1rem 0 1rem 0;
    }


    .rodape__container__desktop__coluna2__itens__redes__sociais__individual{
        width: 2rem;
        height: 2rem;
    }

    .rodape__container__desktop__coluna2__copyright{
        font-size: .7rem;
        font-weight: 700;
    }

    .rodape__container__desktop__coluna3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rodape__container__desktop__coluna3__lista__item{
        margin: 0 0 1rem 0;
    }

    .rodape__container__desktop__coluna3__lista__item__link{
        text-decoration: none;
        color: var(--branco);
    }

    .rodape__container__desktop__coluna3__lista__item__link:hover{
        color: var(--roxo);
        font-weight: 700;
    }
}